.sidebar {
	background-color: #e3ecf1;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 40vh;
	transition: 0.2s ease;
}

.sidebar.collapsed {
	width: 50px;
}
.sidebarContent {
	justify-content: center;
}
