.CalendarWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin-top: 5rem;
}

.CalendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DaysRow {
    display: flex;
}

.DayName {
    flex: 1;
    text-align: center;
    font-weight: bold;
}

.DateCell {
    flex: 1;
    text-align: center;
    height: 100px;
    border: 1px solid #ccc;
    overflow: hidden; /* 초과하는 내용 숨기기 */    
}
.DateCell:hover {
    background-color: #cedbdf;
}

.schedules .badge {
    max-width: 100px; /* 최대 너비 설정. 원하는 값으로 변경 가능 */
    white-space: nowrap; /* 줄바꿈 없애기 */
    overflow: hidden; /* 초과하는 내용 숨기기 */
    text-overflow: ellipsis; /* 초과하는 텍스트를 ...로 표시 */
  }


  /* =============(현주) */
  .calendarBtn {
    position:relative;
    width:50px;
    height:35px;
    background: #fff;
    background-position: left;
    background-size: 200%;
    color:#0085AD;
    font-weight: bold;
    border: 1px solid #0085AD;
    border-radius: 0.5rem;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    margin-bottom: 1rem;
  }